<html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'style.css')}}">
<!-- <link rel="stylesheet" type="text/css" href='{{url_for('static', filename = 'bootstrap.css')}}'> -->
<body>
<div class="container">
<h1>{{restaurant.name}}</h1>


{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor%}
    </ul>
    {% endif %}
{% endwith %}
<div class="row">
    <div class="home">
        <a href='{{url_for('allRestaurants') }}'>Return to home</a>
    </div>
    <div >
        <a href = '{{url_for('newMenuItem', restaurant_id = restaurant.id) }}'>Create New Menu Item</a>
    </div>

</div>
<br>

{% for i in items %}

<div>

<p>{{i.name}}</p>
<p class="price"> {{i.price}} </p>
<p class="description">{{i.description}}</p>




<a href = '{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Edit</a>

<a href = '{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id ) }}'>Delete</a>
<hr style="border-bottom: dotted white;">
</div>


{% endfor %}
</div>
</body>

</html>